body {
    background-image: url("https://cdn2.vectorstock.com/i/1000x1000/13/91/nature-game-background-landscape-vector-3741391.jpg");
    color: rebeccapurple;
    margin: auto;
    text-align: center;
    font-style: italic;
}

h1 {
    color: rebeccapurple;
    /* border-bottom: rebeccapurple solid 1px; */
    font-size: x-large;
}

h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}

table {
    margin: auto;
    border-spacing: 0px;
    border: 3px solid gray;
}

td {
    width: 34px;
    height: 34px;
    border-radius: 20%;
    background-color: gray;
    text-align: center;
    font-size: 1.5em;
    border: black solid 1px;
}

.number {
    color: chartreuse;
}

.uncovered {
    background-color: rgb(60, 60, 60);
    visibility: visible;
}

.reveal {
    background-color: rgb(0, 238, 255);
    visibility: visible;
}

button {
    /* font-size: large; */
    background-color: rgb(214, 247, 0);
    border-radius: 40%;
    margin: auto;
    font-style: italic;
}

.emoje {
    font-size: medium;
    background-color: rgb(214, 247, 0);
    border-radius: 40%;
    margin: auto;
    font-style: italic;
}

.timer {
    font-size: 20px;
    color: black;
    margin: auto;
    padding: 5px;
    width: 60px;
    height: 15px;
}

.hints {
    color: rebeccapurple;
}

.hints :hover {
    cursor: pointer;
}

.chosen {
    background-color: salmon;
}

.safepicks {
    color: rebeccapurple;
}

.safepicks :hover {
    cursor: pointer;
}
